parameters:
    ignoreErrors:
        - message: '~^Service ".+?" is private\.$~'
          path: %currentWorkingDirectory%/tests/
        - message: '~^Service ".+?" is not registered in the container\.$~'
          path: %currentWorkingDirectory%/tests/
    level: max
    paths:
        - bin/console
        - config/bundles.php
        - public/index.php
        - src
        - tests
    symfony:
        container_xml_path: %currentWorkingDirectory%/var/cache/dev/srcLibero_ContentStore_KernelDevDebugContainer.xml

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
